.slider{
    height: 30vw;
    background-color: #d3d3d3;
    position: relative;
}

.content{
    position:absolute;
    background-color: yellow;
    height: 100%;
    width: 100%;
}
.content2{
    position:absolute;
    background-color: green;
    height: 100%;
    width: 100%;
}