.slider{
    height: 30vw;
    background-color: #d3d3d3;
    position: relative;
    overflow: hidden;
}

.content{
    position:absolute;
    background-color: gray;
    height: 100%;
    width: 100%;
    
}
.content2{
    position:absolute;
    background-color: darkgray;
    height: 100%;
    width: 100%;
}