.square{
    height: 25vw;
    position:relative;
    transition: .6s;
}

.square:hover{
    opacity: .7;
    border: 5px solid transparent;
    text-decoration: none;
}

.square h3{
    line-height: 25vw;
}