
.hero{
    position: relative;
    height: 100vh;

}

.innerHero{
    position: absolute;
    background-color: gray;
    height: 100%;
    width: 100%;
}

.displayFont{
    font-family: Pacifico, cursive,

}